In [9]:
import mysql.connector

In [12]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy'
)
    
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('information_schema',)
('jonathan',)
('mysql',)
('performance_schema',)
('sakila',)
('school_management_system',)
('sys',)
('techbros',)
('world',)

In [15]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('studentsperformance',)

In [17]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE GROUP_A_DATA SELECT * FROM studentsperformance WHERE race_ethnicity = "group A"')
mydb.commit()

ProgrammingError: 1050 (42S01): Table 'GROUP_A_DATA' already exists

In [26]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(gender) FROM studentsperformance')
for y in mycursor:
    print(y)

(1000,)

In [27]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE math_score < 50')
for y in mycursor:
    print(y)

(135,)

In [29]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(DISTINCT math_score) FROM studentsperformance')
for y in mycursor:
    print(y)

(81,)

In [30]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT SUM(math_score) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE race_ethnicity = "group A"')
for y in mycursor:
    print(y)

(Decimal('5485'),)

In [31]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT MAX(math_score) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE race_ethnicity = "group A"')
for y in mycursor:
    print(y)

(100,)

In [32]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT MIN(math_score) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE race_ethnicity = "group A"')
for y in mycursor:
    print(y)

(28,)

In [36]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'school_management_system'
)
    
mycursor = mydb.cursor()
mycursor.execute('SELECT AVG(math_score) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE race_ethnicity = "group A"')
for y in mycursor:
    print(y)

(Decimal('61.6292'),)

In [42]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'techbros'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT ID, Sname, Age, Gender, GROUP_CONCAT(Slevel) AS All_Level FROM PWDS GROUP BY ID')
for y in mycursor:
    print(y)

(1, 'Ikechukwu David', 42, 'Male', 'Expert')
(2, 'John smith', 30, 'Male', 'Junior')
(3, 'Uduak Grace', 30, 'Female', 'Intermediate')
(4, 'Tech Bro', 31, 'Male', 'Expert')
(5, 'King bill', 32, 'Male', 'Intermediate')
(6, 'John Doe', 30, 'Male', 'Intermediate')
(7, 'Grace Jill', 28, 'Female', 'Junior')
(8, 'Frazer York', 26, 'Male', 'Junior')
(9, 'Emma Stone', 45, 'Female', 'Expert')
(10, 'Jeniffer Garner', 38, 'Female', 'Expert')
(11, 'Miguel Gomez', 43, 'Male', 'Expert')
(12, 'Sutter Hunk', 31, 'Male', 'Intermediate')
(13, 'Grace Jill', 28, 'Female', 'Junior')
(14, 'Frazer York', 26, 'Male', 'Junior')
(15, 'Emma Stone', 45, 'Female', 'Expert')
(16, 'Jeniffer Garner', 38, 'Female', 'Expert')
(17, 'Miguel Gomez', 43, 'Male', 'Expert')
(18, 'John Doe', 30, 'Male', 'Intermediate')
(19, 'Grace Jill', 28, 'Female', 'Junior')
(20, 'Frazer York', 26, 'Male', 'Junior')

In [43]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'techbros'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT Sname FROM PWDS LIMIT 2')
for y in mycursor:
    print(y)

('Ikechukwu David',)
('John smith',)

In [45]:
mydb = mysql.connector.connect(
     host = 'localhost',
     user = 'root',
     password = 'Macy4acy',
     database = 'techbros'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT Sname FROM PWDS ORDER BY ID DESC LIMIT 1')
for y in mycursor:
    print(y)

('Frazer York',)