In [3]:
import pymysql

In [4]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234'
)

mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('information_schema',)
('martinez',)
('mysql',)
('performance_schema',)
('schoolmanagementsystem',)
('sys',)
('techbros',)

In [5]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('group_a_data',)
('studentsperformance',)

In [6]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE GROUP_A_DATA SELECT * FROM studentsperformance WHERE raceethnicity = "group A"')
mydb.commit()

OperationalError: (1050, "Table 'GROUP_A_DATA' already exists")

# AGGREGATE FUNCTION

## COUNT

In [7]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(gender) FROM studentsperformance')
for x in mycursor:
    print(x)

(1000,)

In [8]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE mathscore <= 50')
for x in mycursor:
    print(x)

(150,)

In [9]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT COUNT(DISTINCT mathscore) FROM studentsperformance')
for x in mycursor:
    print(x)

(81,)

## sum

In [11]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT SUM(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity ="group A"')
for x in mycursor:
    print(x)

(Decimal('5485'),)

In [12]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT MAX(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity ="group A"')
for x in mycursor:
    print(x)

(100,)

In [13]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT MIN(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity ="group A"')
for x in mycursor:
    print(x)

(28,)

In [14]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'schoolmanagementsystem'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT AVG(mathscore) AS TOTAL_MATH_SCORE_GROUP_A FROM studentsperformance WHERE raceethnicity ="group A"')
for x in mycursor:
    print(x)

(Decimal('61.6292'),)

In [16]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'techbros'
)

mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('fswdjg',)
('fswphp',)
('fswrrv',)
('pwds',)

In [23]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'techbros'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT ID,SName,age,gender, GROUP_CONCAT(Slevel) AS ALLLEVEL FROM pwds GROUP BY ID')
for x in mycursor:
    print(x)

(1, 'JOHN ARMSTADRAM', 45, 'MALE', 'EXPERT')
(2, 'WESLEY OBARN', 27, 'MALE', 'JUNIOR')
(3, 'VICTORIA RECCE', 32, 'FEMALE', 'INTERMEDIATE')
(4, 'AINA JAMES', 50, 'MALE', 'EXPEERT')
(5, 'SHASHSA MUDEISE', 29, 'FEMALE', 'INTERMEDIATE')
(6, 'John Doe', 30, 'Male', 'Intermediate')
(7, 'Grace Jill', 28, 'Female', 'Junior')
(8, 'Frazer York', 26, 'Male', 'Junior')
(9, 'Emma Stone', 45, 'Female', 'Expert')
(10, 'Jeniffer Garner', 38, 'Female', 'Expert')
(11, 'Miguel Gomez', 43, 'Male', 'Expert')
(12, 'Sutter Hunk', 31, 'Male', 'Intermediate')
(13, 'Grace Jill', 28, 'Female', 'Junior')
(14, 'Frazer York', 26, 'Male', 'Junior')
(15, 'Emma Stone', 45, 'Female', 'Expert')
(16, 'Jeniffer Garner', 38, 'Female', 'Expert')
(17, 'Miguel Gomez', 43, 'Male', 'Expert')
(18, 'John Doe', 30, 'Male', 'Intermediate')
(19, 'Grace Jill', 28, 'Female', 'Junior')
(20, 'Frazer York', 26, 'Male', 'Junior')

## first fxn

In [24]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'techbros'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM pwds LIMIT 2')
for x in mycursor:
    print(x)

('JOHN ARMSTADRAM',)
('WESLEY OBARN',)

In [25]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'techbros'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM pwds ORDER BY ID DESC LIMIT 1')
for x in mycursor:
    print(x)

('Frazer York',)

In [26]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = '1234',
    database = 'techbros'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT SName FROM pwds ORDER BY ID DESC LIMIT 5')
for x in mycursor:
    print(x)

('Frazer York',)
('Grace Jill',)
('John Doe',)
('Miguel Gomez',)
('Jeniffer Garner',)