In [3]:
class_age = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(class_age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [4]:
class_age.index(48)

3

In [8]:
age = class_age

In [9]:
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [12]:
age.index(58)

9

In [14]:
print(age[9])

58

In [15]:
age.count(55)

5

In [16]:
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [29]:
print(age[6])
print(age[13])
print(age[19])

49
57
57

In [30]:
age.count(57)

2

In [31]:
print(age.count(57))

2

In [33]:
print(len(age))

21

In [40]:
print(age.index(49))

6

In [43]:
print(age.index(57))

13

In [44]:
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [46]:
result = reversed(age)
result = tuple(result)
print(result)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [47]:
ages = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [48]:
print(ages.reverse)

<built-in method reverse of list object at 0x0000020FBD45A400>

In [52]:
ages.reverse()
print(ages)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [53]:
print(ages)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [57]:
print(ages[11])

58

In [82]:
print(ages.count(55))

5

In [61]:
ages.insert(15,'69')

In [65]:
#ages.remove('69')
ages.insert(15,69)
print(ages)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 69, 69, 45, 55, 48, 45, 53, 46]

In [68]:
e = (89,85,36,95,45,78)
ages.extend(e)
print(ages)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 69, 69, 45, 55, 48, 45, 53, 46, 89, 85, 36, 95, 45, 78]

In [70]:
ages.count
print(ages)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 69, 69, 45, 55, 48, 45, 53, 46, 89, 85, 36, 95, 45, 78]

In [72]:
print(len(ages))

29

In [73]:
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [77]:
r = age
resulit = reversed(r)
print(resulit)
print(age)

<reversed object at 0x0000020FBD55A580>
(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [79]:
resulit = reversed(age)
resulit = tuple(resulit)
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [80]:
print(age)

(46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)

In [81]:
e = reversed(age)
e = tuple(e)
print(e)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)